/* google fonts */
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap');

h1,
h2,
h3,
h4,
p,
span,
strong{
    line-height: 1.3em;

    margin: 0;
}

a{
    font-weight: bold;

    text-decoration: none;

    color: #7e9b8b;
}

ul{
    line-height: 1.5em;

    padding-left: 1em;
}

ul.slash-list{
    padding-left: 0;
}

ul.slash-list > li{
    display: inline-block;
}

ul.slash-list > li::after{
    margin: 0 .3em;

    content: '/';
}

ul.slash-list > li:last-child::after{
    display: none;
}

ul.no-list {
    list-style: none;
    padding-left: 0;
}

ul.no-list > li {
    
}

ul.no-list > li:before {
    content: '-';
    margin-right: .3em;
}


h1.heading-title{
    font-size: 1.3em;

    margin: .5em 0;
    margin-top: 0.5em;
}

h1.heading-title::before{
    margin-right: .3em;

    content: '#';
}

h2.heading-title{
    font-size: 1.1em;

    margin: .5em 0;
}

h2.heading-title::before{
    margin-right: .3em;

    content: '##';
}

body
{
    font-family: 'Ropa Sans', sans-serif;

    margin: 0;
}

span.time{
    margin-left: .5em;

    color: gray;
}

div#paintings-list{
    width: 100%;
    display: flex;
    overflow: scroll;
}

img.paintings{
    display: block;
    width: 40%;
    margin: 2px;
    border-radius: 30%;
    border: medium solid #000;
}

#canvas {
    position:fixed;  
    z-index: -1;  
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
}