---
import { arts, getArtWasmName } from '../../art/data/data'
---

<main>
<h2>Webエディタ</h2>
<p>wasmを用いたコードエディタです。p5goのコードをWeb上で試すことができます。</p>
<a href="https://p5go-editor.ryomak.jp/" class="stylish-link" target="_blank">p5go Editor</a>
<h2>p5goを用いた作品集</h2>
<div class="art-gallery">
  {arts.map((art) => (
    <a href={`/art/detail/${getArtWasmName(art)}/`} class="artwork-card">
      <img src={`/art/${art.language}/${art.name}/art.gif`} class="artwork-preview" />
    </a>
  ))}
</div>
</main>

<style>
  main {
    padding: 2rem;
    background-color: #fff;
    border-radius: 20px;
  }
  h2 {
	font-size: 1.5rem;
	  padding-top: 24px;
  }
  p {
  }
  .art-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }

  .artwork-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .artwork-card:hover {
    transform: translateY(-5px);
  }

  .artwork-preview {
    width: 100%;
    height: auto;
  }

  .artwork-name {
    padding: 1rem;
  }

  .artwork-name h2 {
    font-size: 1.2rem;
    margin: 0 0 0.5rem;
  }

  .artwork-name p {
    font-size: 0.9rem;
    margin: 0;
    color: #666;
  }

  .stylish-link {
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
  }
</style>